@import "tailwindcss";

@font-face {
  font-family: Satoshi;
  src: url(../../public/fonts/Satoshi-Regular.otf);
}

@theme inline {
  --font-Satoshi: var(--font-Satoshi);
  --color-blue: #1F62E8;
  --color-sky-blue: #155DFC;
  --color-light-blue: #3983D4;
  --color-green: #13AD57;
  --color-yellow: #FCC800;
  --color-main-black: #101010;
  --color-light-black: #272727;
  --color-dark-black: #364153;
  --color-vivid: #00F3FC;
  --color-gray: #4A5565;
  --color-light-gray: #747474;
  --color-offwhite: #DBDBDB;

}

body {
  font-family: Satoshi;
}